[Unit]
Description=wuzapi

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/wuzapi/wuzapi -admintoken RyanSyah@123 -port 9999 -color -swagger

[Install]
WantedBy=multi-user.target
