[Unit]
Description=wuzapi

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/wuzapi/wuzapi -admitoken RyanSyah@123 -port 9999 -color -swagger

